
</br> 
<div class="center-text"> <h1> Menu </h1> <hr class="black-line"> </div>
<div>
	<%= link_to "Play", play_path, class: "btn btn-outline-dark btn-block w-100 text-center"  %>
</div>
</br>
<div>
	<%= link_to "How to Play?", rules_path, class: "btn btn-outline-dark btn-block w-100 text-center"  %>
</div>
</br>
<div>
	<%= link_to "Full Deck of Cards", fulldeck_path, class: "btn btn-outline-dark btn-block w-100 text-center"  %>
</div>
</br>
<div>
	<%= link_to "Leaderboards", leaderboards_path, class: "btn btn-outline-dark btn-block w-100 text-center"  %>
</div>
</br>
</br>
</br>