<style> 
	.color-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 rows with equal height */
      gap: 10px; /* Adjust the gap between rows */
      place-items: center;
    }

    /* Styling for the individual rows (adjust as needed) */
    .color-column {
      border: 1px solid #ccc;
      padding: 10px;
      border: none;
    }
</style>

<h3> COLOR </h3>
<hr class="black-line">

<div class="color-container mt-2">
    <div class="color-column">
    	<div class="card"  data-color="red" data-shape="diamond" data-shade="fill" data-number="1"> 
			<div class="pip"></div>
		</div> 
    </div>
    <div class="color-column">
    	<div class="card"  data-color="green" data-shape="diamond" data-shade="fill" data-number="1"> 
			<div class="pip"></div>
		</div> 
    </div>
    <div class="color-column">
    	<div class="card"  data-color="blue" data-shape="diamond" data-shade="fill" data-number="1"> 
			<div class="pip"></div>
		</div> 
    </div>
</div>

