<style> 
	.number-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 rows with equal height */
      gap: 10px; /* Adjust the gap between rows */
      place-items: center;
    }

    /* Styling for the individual rows (adjust as needed) */
    .number-column {
      border: 1px solid #ccc;
      padding: 10px;
      border: none;
    }
</style>

<h3> NUMBER </h3>
<hr class="black-line">

<div class="number-container mt-2">
    <div class="number-column">
    	<div class="card"  data-color="red" data-shape="diamond" data-shade="fill" data-number="1"> 
			  <div class="pip"></div>
		  </div> 
    </div>
    <div class="number-column">
    	<div class="card"  data-color="red" data-shape="diamond" data-shade="fill" data-number="2"> 
        <div class="pip"></div>
        <div class="pip"></div>
		  </div> 
    </div>
    <div class="number-column">
    	<div class="card"  data-color="red" data-shape="diamond" data-shade="fill" data-number="3"> 
        <div class="pip"></div>
        <div class="pip"></div>
        <div class="pip"></div>
      </div>
    </div>
</div>

