
<h3> SHADE </h3>
<hr class="black-line">

<div class="rules-container mt-2">
    <div class="rules-column">
    	<div class="card"  data-color="red" data-shape="diamond" data-shade="fill" data-number="1"> 
			<div class="pip"></div>
		</div> 
    </div>
    <div class="rules-column">
    	<div class="card"  data-color="red" data-shape="diamond" data-shade="none" data-number="1"> 
			<div class="pip"></div>
		</div> 
    </div>
    <div class="rules-column">
    	<div class="card"  data-color="red" data-shape="diamond" data-shade="striped" data-number="1"> 
			<div class="pip"></div>
		</div> 
    </div>
</div>

