
#game-board { 
  background-color: rgba(0, 0, 0, 0);  
  padding: 20px; 
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, 1fr);    
  gap: 10px; 
}

#full-deck-display { 
  background-color: rgba(0, 0, 0, 0);
  padding: 20px; 
  display: grid; 
  grid-template-columns: repeat(9, 1fr); 
  grid-template-rows: repeat(9, 1fr);    
  gap: 10px; 
}
