<h1 class="center-text"> The Full Deck of Cards </h1>
<hr class="black-line">
<div class="card-display-page">
  <div id="game-board-display" class="center-text"> </div>
</div>
</br>
<script type="module" src="<%= javascript_path 'generate-full-deck-visual/generate' %>">
</script>