<h1 class="center-text"> The Full Deck of Cards </h1>
<hr class="black-line">
<div class="card-display-page">
  <div id="game-board-display" class="center-text"> </div>
</div>
</br>
<hr class="black-line">
<div> 
  <%= link_to "Go Back", menu_path, class: "btn btn-outline-dark btn-block w-100 text-center"  %>
</div>
</br>
</br>
</br>
</br>
<script type="module" src="<%= javascript_path 'generate-full-deck-visual/generate' %>">
</script>